site_name: TC3 Docs
site_url: https://famoreno.github.io/tc3_docs/

theme:
  name: material
  language: es

  palette:
    - scheme: default
      primary: red #blue grey
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Modo oscuro
    - scheme: slate
      primary: red #blue grey
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Modo claro

  font:
    text: Roboto
    code: Roboto Mono

  features:
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.tracking
    - toc.follow
    - search.suggest
    - search.highlight
    - content.code.copy

nav:
  - Inicio: index.md
  - Beckhoff y TwinCAT 3: tc3_presentacion.md
  - TC3 Conceptos Generales: conceptos.md
  - TC3 Demo: readme_tc3_demo.md

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/famoreno/tc3_docs

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/ui-course.js
